h3 {
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  font-weight: 700;
  font-size: 1rem;
}

.response {
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  font-weight: 700;
  font-size: 1rem;
  display: flex;
  justify-content: center;
  align-items: center;
}
.response-playerOne {
  color: rgb(246, 217, 0);
  border: 2px solid rgb(253, 199, 0);
}
.response-playerOne:hover {
  background-color: rgb(246, 217, 0, 0.5);
  color: white;
}
.response-playerTwo {
  color: rgb(240, 6, 6);
  border: 2px solid rgb(180, 3, 3);
}
.response-playerTwo:hover {
  background-color: rgb(240, 6, 6, 0.5);
  color: white;
}
.response-tie {
  color: rgb(254, 254, 254);
  border: 2px solid rgb(235, 237, 255);
}
.response-tie:hover {
  background-color: rgba(196, 191, 191, 0.5);
  color: white;
}
.response-ace {
  color: rgb(254, 254, 254);
  border: 2px solid rgb(235, 237, 255);
}
.response-ace:hover {
  background-color: rgba(196, 191, 191, 0.5);
  color: white;
}

